/* Write your CSS Here. */

div{
    color:rgb(3, 2, 0);
}

h3{
    color:rgb(255, 183, 0);
}

body, html{
    
    height:100%;
    background-position:center ;
    background-repeat: no-repeat;
    background-size:cover;
}

